    <h2>Autor de la aplicación Quiz</h1>
    <p>Pablo Alberto García Benedicto</p>
    <p>CORE 32.2</p>
    <img src="https://pbs.twimg.com/profile_images/523947718398705664/orJ0ufPp_400x400.jpeg">
    <p><a href="/">Vuelve al inicio</a></p>
